:host {
    .container {
        padding: 24px;
    }

    .mat-row {
        &:hover {
            .mat-cell {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.05);
            }
        }

        &.loading {
            .mat-cell {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
}